/* 
  

  div {
    display: table-cell;
    vertical-align: bottom;
    font-family: "Georgia", Times, Times New Roman, serif;
    font-size: 160%;
    background-color:#4aaaa5;
    width: 210px;
    height: 77px;
    color: white;
    text-align: center;
    vertical-align: middle; 
    position: relative;
    right: -330px;  */
  
 


  /* } */
    header {
    border-bottom: solid;
    border-color: #cccccc;
    border-width: 2px;
    color: #333;
    background: #ffffff;
    padding:0 150px;
    }
  
  .navbar-nav {
    font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    word-spacing: 7px;
    list-style-type: none;
  
}

.nav-item {
    color: #777777;
    display: inline;
}
.nav-link {
    color: #777777;
    text-decoration: none;
}

a:visited {
    color: #777777;
    text-decoration: none;
} 


.navbor-brand {
  font-size: 50px;
  color: white;
}

/*  
section {
    margin: auto;
    padding: 200px;
    width: 960px;
    overflow: auto;
    color: #333;
    background: #eee;
    } */

  .column {
    font-family: "Georgia", Times, Times New Roman, serif;
    background-color:white;
    border: 2px solid #eee; 
    border-color: #cccccc; 
  }
    h3 span { 
      background-color: #4aaaa5;
      color: white;
  
  

  }
  .container {
    color:#eee;
  }

   /* aside {
    float: center;
    width: 860px;
    height: 380px;
    padding: 20px;
    margin-left: 30px;
    margin-top: -160px;
    background: #fff;
    border: 1px solid #eee; 
    border-color: #cccccc; 
      } */
    
    p{
      color: #777777;
      font-family: "Georgia", Times, Times New Roman, serif;
    }
    img {
    
      border-color: #f8f6f6;
      padding-right: 5px;
      padding-top: 5px;
      margin-right: 10px;
      width: 125px;
      height: 150px;

       
    }
    h2 {
      background-color: #4aaaa5;
      color: white;
  }
  /* h3 {
    
    background-color: #4aaaa5;
    color: white; */
    

/* } */
mark {
  background-color:#4aaaa5;
  color: white;
}


footer {
        height: 50px;
        color: #777777;
        background: #666666;
        padding: 20px;
        border-top: solid;
        border-color: #4aaaa5;
        border-width: 7px;
        text-align: center;
        /* padding:0 200px; */
    }
   
     

    